:root{
    --preto: #202020;
    --branco: #fff
}

.topBar{
    width: 100%;
    height: 55px;
    padding: 0 16px;
    background: var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconMenuBrand{
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menuIcon{
    color: #fff;
    font-size: small;
}
.brand{
    width: 90px;
    height: 20px;
    margin-left: 20px;
}

.local{
    color: #aaa;
    font-size:  0.625em;
    margin-top: -15px;
    margin-left: 5px;
    font-weight: 400;
}

.profileUser{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.topBarDireita{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin: 0 15px;
}

.icon{
    margin-left: 15px;
    cursor: pointer;
}

.noticacao{
    display: flex;
    justify-content: center;
}

.numeroNotificacao{
    background: #c00;
    border-radius: 50%;
    max-width: 18px;
    min-width: 8px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}

.microfone{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 30px;
    height: 30px;
    background: #000000;
    border-radius: 50%;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botaoPesquisar{
    width: 50px;
    height: 36px;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.SearchRoundedIcon{
    color: #fff;
}

.campoInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 36px;
    background: #000000;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    border-left: 1px solid #313131;
}
.campoInput input{
    width: 100%;
    height: 36px;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    padding: 15px;
}
.campoInput input::placeholder {
    font-size: 15px;
}
.KeyboardRoundedIcon{
    color: #fff;
    margin-right: 15px;
    opacity: 0.5;
}